<p id="notice"><%= notice %></p>

<div class="container">

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.name %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>


<h4>コメント</h4>
  <% @article.article_comments.each do |article_comment| %>
    <p>
      <%= article_comment.name %>: <%= article_comment.comment %>
      <%= link_to '削除', [article_comment.article, article_comment],
                  :confirm => 'よろしいですか？',
                  :method => :delete %>

    </p>
  <% end %>

  <h4>コメントを書く</h4>
  <%= form_for([@article, @article.article_comments.build]) do |f| %>
    <div class="field mb-2">
      <%= f.label :name %><br>
      <%= f.text_field :name, placeholder: 'お名前', class: 'form-control' %>
    </div>
    <div class="field mb-2">
      <%= f.label :comment %><br>
      <%= f.text_area :comment, placeholder: '本文を入力してください',class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit "投稿する", class: 'btn btn-block btn-success btn-sm' %>
    </div>
  <% end %>
</div>

<div>