<div class = "container">
  
  <%= image_tag "line_212190650678320 (2).jpg", width: '100%', height: '300' %>
  
  <div class = "row">
    <div class = "my-5 title" >
        <h4>「<%= @category.name %>」一覧</h4>
    </div>

    
    <div class="offset-9">
      <%= form_with url: homes_path, method: :get, local: true do |f| %>
        <%= f.collection_select(:category_id, Category.all, :id, :name) %>
        <%= f.submit '検索' %>
      <% end %>
    </div>
  </div>
  
  <table class="table">
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td>
            <%= link_to article_path(article.id) do %>
              <%= attachment_image_tag article, :image, size: "150x120" %>
            <% end %>
          </td>
          <td>
            <div class="p-1 col-3 bg-secondary text-white text-center"><%= article.category.name %></div>
            <h3><%= link_to article.title, article, :style=>"color:black;" %></h3>
            <i class="far fa-clock"><%= article.created_at.strftime('%Y/%m/%d') %></i>
            <i class="fa fa-history"><%= article.updated_at.strftime('%Y/%m/%d') %></i>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>