<div class="container" >
  
  <table class = "table table-bordered">
      <thead class="table-secondary">
        <tr>
          <th class = "text-center"><%= link_to "ホーム", root_path, :style=>"color:black;" %></th>
          <th class = "text-center"><%= link_to "スマートフォン", homes_path(category_id:2), :style=>"color:black;" %></th>
          <th class = "text-center"><%= link_to "パソコン", homes_path(category_id:1), :style=>"color:black;" %></th>
          <th class = "text-center"><%= link_to "イヤホン", homes_path(category_id:3), :style=>"color:black;" %></th>
          <th class = "text-center"><%= link_to "周辺機器", homes_path(category_id:4), :style=>"color:black;" %></th>
          <th class = "text-center">
              <%= form_with url: homes_path, method: :get, local: true do |f| %>
                <%= f.collection_select(:category_id, Category.all, :id, :name ) %>
                <%= f.submit '検索' %>
              <% end %>
          </th>
        </tr>
  　　</thead>
  </table>
  
  <table>
    <tbody>
      <% @search_articles.each do |article| %>
        <tr>
          <td>
            <%= link_to article_path(article.id) do %>
              <%= attachment_image_tag article, :image, size: "150x120" %>
            <% end %>
          </td>
          <td><h3><%= link_to article.title, article, :style=>"color:black;" %></h3></td>
          <td class = "align-middle"><%= article.category.name %></td>
          <td class = "align-middle">
            Create<br><%= article.created_at.strftime('%Y/%m/%d') %>
          </td>
          
        </tr>
      <% end %>
    </tbody>
  </table>
  

</div>

