<p id="notice"><%= notice %></p>

<div class="container">
  
    <h1>Editing Category</h1><br>
  
      <% if @category.errors.any? %>
        <%= @category.errors.count %>errors prohibited this obj from being saved:</br>
        <% @category.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
      <%= form_with model: @category, url: category_path(@category.id), local:true do |f| %>
        
        <table class="table table-borderless col-7">
          <tr>
            <th><%= f.label :Category %></th>
            <td><%= f.text_field :name, autofocus: true, id:"category_name" %></td>
            <td><%= f.submit "変更を保存", :style=>"color:white;", class: 'btn btn-secondary' %></td>
        </table>
        
      <% end %>
    </div>
  </div>

</div>