<div class = "container">

    <div class = "col-3 my-5 title" >
      <h4>カテゴリ一覧・追加</h4>
    </div>

      <%= form_with model: @category, url: categories_path, local:true do |f| %>

      <table>
        <tr>
          <th><%= f.label :カテゴリ名 %></th>
          <td>&emsp;&emsp;<%= f.text_field :name %></td>
          <td>&emsp;&emsp;<%= f.submit ' 新規登録  ', class: 'btn btn-success' %></td>
        </tr>
      <% end %>
    </div>
      </table>

      <br>

    <table class = "table table-bordered">
      <thead class="table-secondary">
        <tr>
          <th>カテゴリ</th>
          <td></td>
        </tr>
  　　</thead>
      <tbody>
        <tr>
          <% @categories.each do |category| %>
        <tr>
          <th><%= category.name %></th>
          <th><%= link_to "編集する", edit_category_path(category), class: 'btn btn-success' %></th>
        </tr>
          <% end %>
      </tbody>
    </table>
</div>