<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!--Vue.js読み込みの記述-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>
    <!--marked.js読み込みの記述-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js'></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>ガジェットブログ</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
    
    <% if admin_signed_in? %>
      <li class="nav-item">
        <%= link_to "新規作成", new_article_path, class: 'nav-link text-light' %>
      </li>
      <li class="nav-item">
        <%= link_to "記事一覧", articles_path, class: 'nav-link text-light' %>
      </li>
      <li class="nav-item">
        <%= link_to "カテゴリ", categories_path, class: 'nav-link text-light' %>
      </li>
      <li class="nav-item">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "カテゴリ", categories_path, class: 'nav-link text-light' %>
      </li>
      <li class="nav-item">
        <%= link_to "問い合わせ", inquiry_index_path, class: 'nav-link text-light' %>
      </li>
      <li class="nav-item">
        <%= link_to "新規登録", new_admin_registration_path, class: 'nav-link text-light' %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", new_admin_session_path, class: 'nav-link text-light' %>
      </li>
    
      
    <% end %>
    
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <%= yield %>
  </body>
</html>
